<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{{ url_for('static', filename='jquery-3.3.1.js') }}"></script>
    <link rel="icon" type="img/ico" href="favicon.ico">
    <meta charset="UTF-8">
    <title>CryptoScanner v0.1</title>
    <script>
        var is_updating = false;
        var currency_list = "{{app_env.CS_CURRENCIES}}".split(",");

        // window.onload = function() {
        //     var header_table = "<tr><th>Currency</th>";
        //     for (var i = 0; i < currency_list.length; i++) {
        //         header_table += "<th>" + currency_list[i] + "</th>";
        //     }
        //     header_table += "</tr>";
        //     $("#currency_table").append(header_table)
        // };

        function start() {
            start_grabber();
            is_updating = true;
            updating()
        }

        function start_grabber() {
            $.ajax({
                url: "http://localhost:9000/start_grabber",
                async: true,
                crossDomain: true,
                type: 'GET',
                dataType: "text",
                success: function () {
                    console.log("start");
                }
            });
        }

        function updating() {
            if (is_updating === true) {
                $.ajax({
                    url: "http://localhost:9000/get_records",
                    async: true,
                    crossDomain: true,
                    type: 'GET',
                    dataType: "text",
                    success: function (data) {
                        var json_array = $.parseJSON(data);
                        var body_table;
                        var exchange_name = "";
                        for (var i = 0; i < json_array.length; i++) {
                            var json_object = json_array[i];
                            if (exchange_name !== json_object.exchange_name) {
                                if (i > 0) {
                                    body_table += "</tr>";
                                }
                                body_table += "<tr>";
                                body_table += "<td>" + json_object.exchange_name + "</td>";
                            }
                            exchange_name = json_object.exchange_name;
                            body_table += "<td>" + json_object.currency_to + ": " + json_object.buy + "/" + json_object.sell + "; </td>";
                            console.log(json_array[i]);
                        }
                        body_table += "</tr>";
                        $("#body_table").append(body_table)
                    }
                });
                setTimeout(updating, {{app_env.CS_UPDATE_TIME * 1000}})
            }
        }

        function stop() {
            stop_grabber();
            is_updating = false
        }

        function stop_grabber() {
            $.ajax({
                url: "http://localhost:9000/stop_grabber",
                async: true,
                crossDomain: true,
                type: 'GET',
                dataType: "text",
                success: function () {
                    console.log("stop");
                }
            });
        }


    </script>
    <style>
        .variables > div {
            /*background: #fc3;*/
            /*border: 1 px solid black;*/
            padding: 3px;
            margin-top: 3px;
        }

        input {
            float: left;
            width: 120px;
            margin-left: 3px;
            margin-top: 7px;
        }


    </style>
</head>
<body>
<table id="currency_table" border="1" cellpadding="3">
    <tr>
        <th>Exchange</th>
        <th>Currency</th>
    </tr>
    <tbody id="body_table">
    </tbody>
</table>
<div class="variables">
    <div>
        CURRENCIES: {{app_env.CS_CURRENCIES}}
    </div>
    <div id="update_time">
        UPDATE_TIME: {{app_env.CS_UPDATE_TIME}} SEC
    </div>
    <div id="grabber_time">
        GRABBER_TIME: {{app_env.CS_GRABBER_TIME}} SEC
    </div>
    <div>
        DEBUG: {{app_env.CS_DEBUG}}
    </div>
    <div>
        LOGFILE: {{app_env.CS_LOGFILE}}
    </div>
</div>
<div>
    <input type="button" value="Start" onclick="start()">
    <input type="button" value="Stop" onclick="stop()">
</div>
</body>
</html>